section#step-7.columns(v-if="wizardStep==7")
    .column.card
        .card-content
            p
                a(
                    href='https://github.com/nisrulz/app-privacy-policy-generator#app-privacy-policy-generator' 
                    target='_blank' 
                    rel='noopener noreferrer') App Privacy Policy Generator
            progress.progress.is-small.is-primary(value='100' max='100')
            .scrollable.content
                p Now sit back and choose the type of document you want to generate.
                    br
                    a.has-info(
                            rel="noopener noreferrer" 
                            @click="toggleFaqModalVisibility"
                             ) Read FAQ
                    p.has-text-grey-light
                        | The accuracy of the generated privacy policy and terms & conditions on this website is not legally binding. Use at your own risk.
                    p
                        a.has-text-danger(
                            rel="noopener noreferrer" 
                            @click="toggleDisclaimerModalVisibility"
                            ) Read the full Disclaimer here
        footer.card-footer
            a.card-footer-item(@click='prevStep') Previous
            a.card-footer-item(@click='togglePrivacyModalVisibility' 
                rel="noopener noreferrer" 
                v-if="typeOfPolicyInt==1"
                ) Privacy Policy
            if noTracking
                a.card-footer-item(@click='toggleNoTrackingPrivacyPolicyModalVisibility' 
                    rel="noopener noreferrer" 
                    v-if="typeOfPolicyInt==2"
                    ) Privacy Policy
            if gdpr
                a.card-footer-item(@click='toggleGDPRPrivacyModalVisibility' 
                    rel="noopener noreferrer" 
                    v-if="typeOfPolicyInt==3"
                    ) Privacy Policy
            a.card-footer-item(@click='toggleTermsModalVisibility' rel="noopener noreferrer") Terms & Conditions
    .column.is-information.is-hidden-touch
        img.center-block.sidebar-img(src='images/app_graphics/side_image.svg')
